/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
}
body {
  margin: 0;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Main  Container ***********/
.main-container {
  box-sizing: border-box;
  max-width: 1440px;
  /* min-width: 320px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
/****** Main + footer Except Header ***********/
.main-footer-container {
  max-width: 1440px;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
}

/****** Header ***********/
.header-section {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo .logo {
  width: 61.09px;
  height: 19px;
  padding: 30px 50px;
}

.header-nav .nav-list {
  list-style-type: none;
  height: 35px;
  width: 279px;
  margin: 0;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
}

.header-nav .nav-list .nav-item {
  padding: 15px 0 0 0;
}

.header-nav .nav-list .nav-item:hover {
  border-top: 1px solid var(--main-color);
  color: var(--main-color);
}
/*******************************/
/****** Main Content ***********/
/*******************************/
.main-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
/*******************************/
/****** overview ***********/
/*******************************/
.overview {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
/****** Presentation ***************/
.paragraph-overview {
  font-size: 16px;
  margin: 8px 0 0 0;
}
/****** Search Bar ***************/
.search-bar {
  display: flex;
}
.search-bar .vector {
  background: var(--main-bg-color);
  padding: 24px 17px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.search-bar input {
  border: 1px solid var(--main-bg-color);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: black;
}
.search-bar input::placeholder {
  color: black;
}
.search-button {
  background-color: var(--main-color);
  border: none;
  border-radius: 0 20px 20px 0;
  padding: 0 16px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  display: block;
}
.magnifying-glass-button {
  display: none;
}
/****** Filter Bar ***************/
.filter-bar {
  display: flex;
  align-items: center;
  gap: 15px;
}
.filter-bar p {
  font-size: 22px;
  font-weight: bold;
}
.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
  padding: 4px 19px;
  border-radius: 25px;
  border: 2px solid var(--main-bg-color);
  font-weight: bold;
}
.option:hover {
  background-color: #cce8fc;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.info i {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  /* font-weight: bold; */
  background-color: white;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-bg-color);
}
/***********************************************/
/****** Hebergements And Populaires ***********/
/**********************************************/
.hebergements-and-populaires {
  display: flex;
  gap: 40px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}
/*******************************/
/****** Hebergements ***********/
/*******************************/
.hebergements {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  gap: 30px;
}
.hebergements-cards a {
  flex: 29%;
}
.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.hebergements-cards img {
  width: 100%;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 15px;
}

.hebergements-cards .card-title {
  margin-top: 4px;
  margin-bottom: 0;
  /* min-width: 167px; */
}

.hebergements-cards .card-subtitle {
  margin: 8px 0;
}
.hebergements .hebergements-subtitle p {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
}
/*******************************/
/****** Populaires ***********/
/*******************************/
.populaires {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.populaires-cards .card {
  display: flex;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****************************/
/****** Activités ***********/
/****************************/
.activites {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.activites-cards {
  display: flex;
  gap: 30px;
}
.activites-cards a {
  flex: 1;
}

.activites-cards .card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.activites-cards .card img {
  width: 100%;
  height: 380px;
  max-height: 380px;
  border-radius: 20px 20px 0px 0px;
}
.activites-cards .card .card-title {
  padding: 20px 19px;
  margin: 0;
}

/************************/
/****** Footer ***********/
/*************************/
.footer {
  display: flex;
  background-color: var(--main-bg-color);
}

.footer .section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  flex: 1;
}
.footer .section h3 {
  margin: 0;
}
.footer .section .footer-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  padding-left: 0;
}

/* Le code ci-dessous correspond à la version 
ve uniquement */
/*******************************/
/****** Media queries ***********/
/*******************************/
/* Extra Large devices (more than 1440px) */
@media (min-width: 1440px) {
  .main-container {
    margin: auto;
  }
}
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  /****** Header ***********/
  .header-nav .nav-list {
    width: 244px;
    padding: 0 50px;
  }
  /****** Overview / Filter bar ***********/
  .filter-bar {
    flex-direction: column;
  }
  .filter-bar p {
    align-self: flex-start;
    margin: 0;
  }
  .options {
    align-self: flex-start;
    margin: 0;
  }
  /****** hebergements-and-populaires ***********/
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .populaires-cards {
    flex-direction: row;
  }

  .populaires-cards a {
    flex: 33%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  /****** footer ***********/
  .footer {
    gap: 30px;
  }
}
/*******************************/
/* Small devices (phones, less than 768px) */
/*******************************/
@media (max-width: 767.98px) {
  /* Main */
  .main-footer-container {
    padding: 0;
  }
  /****** Header ***********/
  .header-section {
    flex-direction: column;
  }
  .header-logo .logo {
    padding: 30px;
  }

  .header-nav .nav-list {
    padding: 0;
    width: 100%;
  }

  .header-nav .nav-list .nav-item {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    padding: 0;
    border-bottom: 1px solid var(--main-bg-color);
  }

  .header-nav .nav-list .nav-item:hover {
    border-top: none;
    border-bottom: 1px solid var(--main-color);
    color: var(--main-color);
  }
  /****** Overview ***********/
  .overview {
    padding: 0 20px;
  }
  /****** Magnifying glass ***********/

  .search-bar input {
    flex: 1;
    text-align: left;
    padding-left: 20px;
    height: 47px;
  }
  .search-button {
    display: none;
  }
  .magnifying-glass-button {
    color: var(--main-bg-color);
    background-color: var(--main-color);
    display: inline-flex;
    padding: 15px 16px;
    align-items: center;
    border-radius: 25%;
    position: relative;
    right: 6px;
  }
  /****** Overview / Filter bar ***********/
  .options {
    flex-wrap: wrap;
  }
  .option {
    width: 125px;
    height: 42px;
    flex: 30%;
  }
  /****** Hebergements et les populaires ***********/
  .hebergements-and-populaires {
    flex-direction: column-reverse;
    gap: 0;
  }
  .hebergements-and-populaires section {
    border-radius: 0;
  }
  .hebergements-and-populaires .hebergements {
    background-color: white;
  }
  /****** Hebergements ***********/
  .hebergements {
    gap: 20px;
  }
  .hebergements-cards a {
    flex: 100%;
  }
  .hebergements-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  /****** populaires ***********/
  .populaires {
    gap: 30px 20px;
  }
  .populaires-cards a {
    flex: 100%;
  }
  .populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  /****** activites ***********/
  .activites-cards {
    flex-direction: column;
  }
  /****** Footer ***********/
  .footer {
    flex-direction: column;
    padding: 30px;
    gap: 50px;
  }
  /* .footer .section {
  } */
}
